.form-group {
  margin-bottom: 1rem;

  label {
    display: inline-block;
    margin-bottom: .5rem;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: none;
    background-color: transparent;
  }

  textarea {
    resize: none;
  }
}