.tm-filter {
  position: relative;
  .tm-filter-options {
    display: none;
    position: absolute;
    right: 0;
    top: auto;
    padding: 8px;
    z-index: 1;

    &.active {
      display: block;
    }
  }

  .tm-filter-option {
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    &:hover {
      box-shadow: 2px 2px 5px 1px  #b3b3b360;
    }
  }
}