@import "../../assets/scss/responsiveUtils";

.tm-card {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  min-height: 129px;

  @include media-breakpoint(sm) {
    border-radius: 5px;
    padding: 8px;
  }

  .tm-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .tm-title {
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    color: #5e5e5e;
  }

  .tm-description {
    font-size: 12px;
  }

  .tm-created-on {
    font-size: 12px;
    color: #b5b5b5;
  }

  .tm-card-action {
    gap: 10px;
    display: flex;
    position: absolute;
    right: 0;
    top: 15px;
    padding: 10px;
  }

  .create-new-task {
    background-color: transparent;
    border: 2px dashed #ccc;
  }

  .tm-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;

    .status-sache {
      padding: 5px 10px;
      border-radius: 20px;
    }

    .completed {
      color: rgb(0, 167, 125);
      background-color: rgba(180, 228, 216, 0.4);
    }

    .inprogress {
      background-color: #f5c72540;
      color: #c7a323;
    }

    .offtrack {
      background-color: #d7744b40;
      color: #d7744b;
    }

    .new {
      background-color: #575d9940;
      color: #575d99;
    }

    .tm-priority {
      color: #b5b5b5;
      text-transform: capitalize;
    }
  }

  .d-none {
    display: none;
  }

  .plus-icon {
    background-size: 24px;
  }
}