.tm-login-signup {
  transform: translate(0px, 10%);

  .tm-form-container {
    width: 320px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
    transform: translate(0px, 10%);
    box-shadow: 0px 5px 8px 3px #b3b3b360;
    .tm-form-title {
      padding: 15px 10px;
      text-align: center;
      color: #ffffff;
      background: rgb(20, 160, 131);
      font-size: 1rem;
      font-weight: 600;
    }
    .tm-form-field {
      background: #fff;
      padding: 20px;
      &.p-0 {
        padding: 0;
      }
    }
    input {
      box-sizing: border-box;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 5px;
      outline: none;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="date"] {
      width: 100%;
    }
    .tm-button {
      display: block;
      width: 100%;
      margin: 15px 0;
      padding: 10px;
    }
    .tm-forgot-pwd,
    .tm-signup {
      display: inline-block;
      color: #15a083;
      cursor: pointer;
    }
  }
}