@import "../../assets/scss/responsiveUtils";

.my-account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  @include media-breakpoint(sm) {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .account-greet {
    h2 {
      font-size: 18px;
      font-weight: 600;
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize;

      @include media-breakpoint(sm) {
        font-size: 16px;
      }
    }

    h4 {
      font-size: 16px;
      font-weight: 300;

      @include media-breakpoint(sm) {
        font-size: 14px;
      }
    }
  }

  .account-user {
    position: relative;
    .user-icon {
      background-size: 30px;
      padding: 16px;
    }
  }

}

.tm-task-report-summary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  margin-top: 15px;

  @include media-breakpoint(sm) {
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 5px;
    margin-top: 8px;
  }

  .report-card {
    padding: 8px;
    // border-radius: 8px;

    span {
      display: block;
    }

    &:hover {
      box-shadow: 5px 8px 15px -5px  #b3b3b360;
    }
  }

  .report-card-title {
    color: #b5b5b5;
    text-transform: capitalize;
    margin-bottom: 15px;

    @include media-breakpoint(sm){
      margin-bottom: 5px;
      font-size: 12px;
    }
  }

  .report-count {
    font-size: 2rem;
    font-weight: bold;
    border-left: 4px solid;
    padding-left: 16px;
    
    &.all {
      border-color: #575d99;
    }

    &.completed {
      border-color: #00a77d;
    }

    &.in-progress {
      border-color: #f5c725;
    }

    &.overdue {
      border-color: #d7744b;
    }

    @include media-breakpoint(sm) {
      font-size: 1.15rem;
      border-left: 3px solid;
      padding-left: 5px;
    }
  }
}
